.back-btn {
    background-color: transparent;
    border: none;
    color: #797979c3;
    font-size: 18px;
    font-weight: 500;
}
.back-btn:hover {
    cursor: pointer;
    font-weight: 500;
    color: rgb(1, 1, 99);

}