.summary-page {
    margin-left: 90px;
    margin-top: 75px;
    font-family: "Gill Sans", sans-serif;
    width: 450px;
}

.title-info h1{
    font-weight: 670;
    color: rgb(1, 1, 99);
}
.title-info h3{
    margin-top: -12px;
    font-size: 18px;
    font-weight: 500;
    color: #797979c3;}

.total-price {
    background-color: rgb(227, 235, 241);
    border-radius: 12px;
    padding-bottom: 10px;
    margin-top: 35px;
}

.plan-summary{
    display: flex;
    flex-direction: row;
    padding: 15px;
}
.plan-summary h2 {
    font-size: 18px;
    margin-left: 180px;
    margin-top: 20px;
    color: rgb(1, 1, 99);
}
.plan-selection{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}
.plan-selection h1{
    font-size: 18px;
    color: rgb(1, 1, 99);
}
.plan-selection a {
    font-size: 16px;
    color: blueviolet;
    cursor: pointer;
}

.border-line {
    border-bottom: 2px solid rgba(193, 191, 191, 0.5);
    width: 410px;
    margin-left: 30px;
}

.summary-add-on {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
}
.summary-add-on h1{
    font-size: 17px;
    color: #797979c3;
    font-weight: 600;
}
.summary-add-on-price-1 {
    font-size: 15px;
    margin-left: 228px;
    color: rgba(1, 1, 99, 0.642);
}
.summary-add-on-price-2 {
    font-size: 15px;
    margin-left: 225px;
    color: rgba(1, 1, 99, 0.642);
}

.price-summary{
    display: flex;
    flex-direction: row;
    margin-left: 28px;
    margin-top: 10px;
}
.price-summary h1 {
    font-size: 16px;
    color: #797979c3;
    font-weight: 600;
}
.price-summary h2 {
    font-size: 19px;
    margin-left: 185px;
    color: blueviolet;

}

.summary-back-btn {
    margin-top: 90px
}
.summary-confirm-btn {
    margin-left: 340px;
    margin-top: -35px;
}
.summary-confirm-btn button {
    padding: 14px 20px;
    background-color: blueviolet;
    color: rgb(236, 234, 234);
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    font-family: "Gill Sans", sans-serif;
    cursor: pointer;
}
.summary-confirm-btn button:hover {
    opacity: .65;
}