.form-page {
    display: flex;
    flex-direction: row;
    margin-left: 290px;
    background-color: aliceblue;
    max-width: 950px;
    width: 940px;
    height: 608px;
    margin-top: 70px;
    border-radius: 12px;
}

@media screen and (max-width: 400px){
    .form-page {
        display: flex;
        flex-direction: column;
        margin-left: 0px;
        width: auto;
        height: auto;
        margin-top: 0px;
    }
}